html, body {
    height: 100%;

    -moz-box-sizing: initial;
    -ms-box-sizing: initial;
    -o-box-sizing: initial;
}


body {
    scrollbar-face-color: #38b978;
    scrollbar-highlight-color: white;
    scrollbar-3dlight-color: transparent;
    scrollbar-darkshadow-color: transparent;
    scrollbar-shadow-color: #aaa;
    scrollbar-arrow-color: #38b978;
    scrollbar-track-color: transparent;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #38b978;
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #38b978;
}

.nopad {
    padding: 0 !important;
}

.nomarg {
    margin: 0 !important;
}

.off-canvas-wrapper {
    height: 100%;
    overflow-y: scroll !important;
}

.position-left {
    @include breakpoint(small) {
        $offcanvas-size: rem-calc(80);
        $offcanvas-vertical-size: rem-calc(80);
    }
}

#sideBar {
    overflow-x: hidden;
}

.js-off-canvas-overlay {
    background: rgba(254, 254, 254, 0.73) !important;
}

.particles-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;

    #particles-js {
        height: 100%;
        width: 100%
    }
}

.title-bar-title {
    color: $black;
    font-size: .8rem;
}

.title-bar {
    background: transparent !important;

    .menu-icon {
        &:after {
            background: #38b978;
            box-shadow: 0 7px 0 #38b978, 0 14px 0 #38b978;
            content: '';
        }
    }
}
