footer {
    display: flex !important;
    flex-direction: row;
    width: 100%;
    height: 3.42rem;
    overflow: hidden;
    background-color: $black;
    bottom: 0;
    position: fixed;

    .brand-cont {
        cursor: pointer;
        @include flex;
        @include flex-direction(row);
        align-items: center;
        margin: auto;
        margin-right: 1rem;

        span {
            margin: auto;
            color: white;

            &:hover {
                color: #38b978;
            }
        }
    }
}
