.icon-eye {
    @include bkg-img-contain(url('../img/svg/eye.svg'), 2rem, 2rem);
    margin: auto;
}

.arrow {
    margin: auto 0;
    margin-right: .4rem;
    @include bkg-img-contain(url('../img/svg/arrow.svg'), 1rem, .8rem);
}

.link {
    margin: auto 0;
    margin-right: .4rem;
    @include bkg-img-contain(url('../img/svg/link.svg'), .8rem, .8rem);
}

.tag {
    margin: auto 0;
    margin-right: .4rem;
    @include bkg-img-contain(url('../img/svg/tag.svg'), 1rem, 1rem);
}

.angular {
    margin: auto 0;
    margin-right: .4rem;
    @include bkg-img-contain(url('../img/svg/angular.svg'), 2rem, 2rem);
}

.yeti {
    margin: auto 0;
    margin-right: .4rem;
    @include bkg-img-contain(url('../img/svg/yeti.svg'), 2rem, 2rem);
}


