#accueil {
    z-index: 99;
    padding-top: 1rem;

    .folio {
        margin-bottom: 3rem;
    }

    h1 {
        font-size: 2rem;
        font-weight: 600;
        color: $black;
        text-transform: uppercase;
        display: inline;

        @include breakpoint(medium) {
            font-size: 3rem;
        }

        @include breakpoint(large) {
            font-size: 4rem;
        }
    }

    .writer-cont {

        @include breakpoint(small) {
            text-align: center;
        }

        @include breakpoint(medium) {
            text-align: left;
        }

        .writer {
            color: #38b978;
        }
        span {
            border-right: .05em solid;
            animation: caret 1s steps(1) infinite;
        }
    }

    @keyframes caret {

        50% {
            border-color: transparent;
        }
    }

    .title-cont {
        margin: 3rem 0;
        display: flex;

        p {
            margin: auto;
            font-size: 1.6rem;
            text-transform: uppercase;
            border-bottom: .2rem solid #38b978;
        }
    }

    .thumb-cont {

        .square {
            margin-bottom: 1.7rem;

            a {
                .thumb {
                    cursor: pointer;
                    display: flex;
                    height: 10rem;
                    background-color: rgba(0, 0, 0, 0.88);

                    img {
                        margin: auto;
                        max-height: 8rem;
                        height: 8rem;
                    }
                }
            }
        }
    }
}
