.pop-in {
    overflow: auto;
    flex-direction: column;
    display: none;
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    padding-top: 2rem;

    @include breakpoint(small) {
        padding-top: 1.4rem;
        flex-direction: row;
    }

    .close-button {
        color: #38b978;
        @include transition-all(.2s);
        z-index: 10;
        position: fixed;

        &:hover {
            color: #0f0f0f;
            @include transition-all(.2s);
        }
    }

    hr {
        border-bottom: .1rem solid #38b978;
        margin: 1rem auto;
    }

    .tools-cont {
        padding-left: .8rem;

        .tools {
            font-family: 'Hammersmith One', sans-serif;
            @include flex;
            @include flex-direction(row);
            color: #404040;
            font-size: 1rem;
            margin: .3rem auto;
        }
    }

    .reference {
        text-align: right;
        padding-right: 1rem;
        font-family: 'Hammersmith One', sans-serif;

        .ref-cont {
            @include flex;
            @include flex-direction(row);

            a {
                @include transition-all(.2s);
            }
        }
    }

    .cover-container {
        @include breakpoint(small) {
            margin-bottom: 1rem;
            position: relative;
            z-index: 9;
        }

        .cover {
            max-width: 100%;
            -webkit-animation-delay: .5s;
            -moz-animation-delay: .5s;
            -ms-animation-delay: .5s;
            -o-animation-delay: .5s;
        }
    }

    .titre {
        display: block;
        margin: 0;
        color: #38b978;
        font-size: 2.4rem;
        line-height: 2.4rem;
        font-family: 'Hammersmith One', sans-serif;
        -webkit-animation-delay: .5s;
        -moz-animation-delay: .5s;
        -ms-animation-delay: .5s;
        -o-animation-delay: .5s;

        @include breakpoint(small) {
            font-size: 2rem;
        }
    }

    .sous-titre {
        display: block;
        color: #a1a1a1;
        font-style: italic;
        font-size: 1.2rem;
        line-height: .9rem;
        -webkit-animation-delay: .8s;
        -moz-animation-delay: .8s;
        -ms-animation-delay: .8s;
        -o-animation-delay: .8s;

        @include breakpoint(small) {
            font-size: 1.1rem;
        }

    }

    .description {
        color: #434343;
        -webkit-animation-delay: .9s;
        -moz-animation-delay: .9s;
        -ms-animation-delay: .9s;
        -o-animation-delay: .9s;

        .mission {
            font-family: 'Hammersmith One', sans-serif;
            text-transform: uppercase;
            color: #38b978;
        }
    }

    .details {
        font-family: 'Hammersmith One', sans-serif;
        -webkit-animation-delay: 1.2s;
        -moz-animation-delay: 1.2s;
        -ms-animation-delay: 1.2s;
        -o-animation-delay: 1.2s;
    }

    .gallery {
        background-color: #e9e9e9;
        margin: .1rem 0;
        padding: 1.5rem 0;

        a {
            img {
                margin-bottom: 1rem;
            }
        }
    }

    .separator {
        height: .1rem;
        background-color: #a4a4a4;
        border-top: .1rem solid #c7c7c7;
        width: 100%;
        margin-top: 2rem;
    }

    .tags {
        font-family: 'Hammersmith One', sans-serif;
        display: inline-flex;
        @include flex-direction(row);
        color: #a1a1a1;
        margin: auto 1.5rem auto 0;
    }

    .lightbox {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
    }

    .close {
        top: .5rem!important;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        @include transition-all(.2s);
        &:hover {
            @include transition-all(.2s);
            color: #44de90;
        }
    }

}
