#sideBar {
    -webkit-box-shadow: inset -58px 0px 44px -51px rgba(15,15,15,1);
    -moz-box-shadow: inset -58px 0px 44px -51px rgba(15,15,15,1);
    box-shadow: inset -58px 0px 44px -51px rgba(15,15,15,1);

    #portfolio {
        @include transition-all(.2s);
        background-color: #1f1f1f;

        &:hover {
            background-color: black;
            @include transition-all(.2s);
        }
    }

    #profil {
        @include transition-all(.2s);
        background-color: #1f1f1f;

        &:hover {
            background-color: black;
            @include transition-all(.2s);
        }
    }

    #contact {
        @include transition-all(.2s);
        background-color: #1f1f1f;

        &:hover {
            background-color: black;
            @include transition-all(.2s);
        }
    }

    .separator {
        position: relative;
        dislay: block;
        width: 100%;
        height: .1rem;
        background-color: #171717;
        border-top: .1rem solid #2c2c2c;
    }

    //logo

    .logo-cont {
        background-color: $black;
        padding: 1rem 0;
        border-bottom: .1rem solid black;
        cursor: pointer;

        .logo {
            @include bkg-img-contain(url('../img/logo.png'), auto, rem-calc(44));
            margin: auto;
        }
    }

    //icons

    .menu {

        li {
            @include transition-all(.2s);
            cursor: pointer;
            padding: .6rem 0;s

            &:hover {
                background-color: $black;
            }

            .portfolio-icon {
                @include bkg-img-contain(url('../img/nav/portfolio-off.svg'), 2rem, 2rem);
                @include transition-all(.2s);
                margin: auto;

                &:hover {
                    background-image: url('../img/nav/portfolio-on.svg');
                }
            }

            .profil-icon {
                @include bkg-img-contain(url('../img/nav/profil-off.svg'), 2rem, 2rem);
                @include transition-all(.2s);
                margin: auto;

                &:hover {
                    background-image: url('../img/nav/profil-on.svg');
                }
            }

            .contact-icon {
                @include bkg-img-contain(url('../img/nav/contact-off.svg'), 2rem, 2rem);
                @include transition-all(.2s);
                margin: auto;

                &:hover {
                    background-image: url('../img/nav/contact-on.svg');
                }
            }
        }
    }

    .social-module {
        position: absolute;
        bottom: .1rem;
        width: 100%;

        #share {
            padding: .8rem 0;
            position: relative;
            margin-bottom: -.1rem;
            @include transition-all(.2s);
        }

        #facebook, #twitter, #linkedin {
            padding: .6rem 0;
            display: none;
        }

        .social-separator {
            @include separator(#171717, #2c2c2c);
            display: none;
        }

        li {
            list-style: none;
            cursor: pointer;

            .share-icon {
                @include bkg-img-contain(url('../img/nav/social-module/share.svg'), 2rem, 2rem);
                @include transition-all(.2s);
                margin: auto;
            }

            .facebook-icon {
                @include bkg-img-contain(url('../img/nav/social-module/facebook-off.svg'), 1.5rem, 1.5rem);
                @include transition-all(.2s);
                margin: auto;

                &:hover {
                    background-image: url('../img/nav/social-module/facebook-on.svg');
                }
            }

            .linkedin-icon {
                @include bkg-img-contain(url('../img/nav/social-module/linkedin-off.svg'), 1.5rem, 1.5rem);
                @include transition-all(.2s);
                margin: auto;

                &:hover {
                    background-image: url('../img/nav/social-module/linkedin-on.svg');
                }
            }

            .twitter-icon {
                @include bkg-img-contain(url('../img/nav/social-module/twitter-off.svg'), 1.5rem, 1.5rem);
                @include transition-all(.2s);
                margin: auto;

                &:hover {
                    background-image: url('../img/nav/social-module/twitter-on.svg');
                }
            }
        }
    }
}
