<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Raphael Vareilles | Portfolio</title>
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet">
        <!-- CSS -->
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/lightbox.min.css">
        <!-- JAVASCRIPT -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/pop_window.js"></script>
    </head>

    <body ng-app="portfolioApp">
        <div class="off-canvas-wrapper">
            <div class="off-canvas position-left reveal-for-medium reveal-for-large" id="sideBar" data-transition="overlap" data-off-canvas>
                <!-- Close button -->
                <!--
                <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
                </button>
                -->
                <div class="logo-cont">
                    <div class="logo animated"></div>
                </div>
                <div class="separator"></div>

                <!-- MENU -->
                <ul class="vertical menu">
                    <li id="portfolio" class="animated slideInLeft">
                        <div class="portfolio-icon animated"></div>
                    </li>
                    <div class="separator"></div>

                    <li id="profil"  class="animated slideInLeft">
                        <div class="profil-icon animated"></div>
                    </li>
                    <div class="separator"></div>

                    <li id="contact"  class="animated slideInLeft">
                        <div class="contact-icon animated"></div>
                    </li>
                    <div class="separator"></div>
                </ul>

                <!-- SOCIAL MODULE -->
                <div class="social-module">
                    <div class="social-separator"></div>
                    <li id="linkedin">
                        <div class="linkedin-icon animated"></div>
                    </li>

                    <div class="social-separator"></div>
                    <li id="twitter">
                        <div class="twitter-icon animated"></div>
                    </li>

                    <div class="social-separator"></div>
                    <li id="facebook">
                        <div class="facebook-icon animated"></div>
                    </li>
                    <li id="share">
                        <div class="share-icon animated"></div>
                    </li>
                </div>
            </div>

            <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
                <div class="title-bar-left">
                    <button class="menu-icon" type="button" data-open="sideBar"></button>
                    <span class="title-bar-title">MENU</span>
                </div>
<!--                <div class="title-bar-right"></div>-->
            </div>

            <div ng-controller="MainController"  class="off-canvas-content" data-off-canvas-content>

                <!-- OVERLAY -->
                <div class="row">
                    <div class="small-12 column nopad">
                        <div class="overlay"></div>
                    </div>
                </div>

                <!-- PARTICLES -->
                <div class="row">
                    <div class="small-12 column">
                    </div>
                    <div class="small-12 column particles-container nopad">
                        <div id="particles-js"></div>
                    </div>
                </div>

                <!-- CONTENT -->
                <div id="accueil">

                    <!-- POPIN WINDOW -->
                    <div class="slideInDown animated pop-in" id="popWindow">
                    <div class="row">
                        <div class="small-12 large-6 columns cover-container">
                            <img class="cover animated" src="{{ style.cover }}"/>
                        </div>

                        <div class="small-12 large-6 columns">
                            <h2 class="titre animated">{{ style.title }}</h2>
                            <p class="sous-titre animated">{{ style.subtitle }}</p>
                            <div class="small-12 large-8 nopad columns">
                               <div class="description animated">
                                   <hr/>
                                   <p><span class="mission">Mission: </span>{{ style.description }}</p>
                                   <hr/>
                               </div>

                                <div class="row details animated">
                                    <div class="column small-12 large-5 tools-cont">
                                        <div ng-repeat="tools in style.table1" class="tools">
                                            <div class="arrow"></div>
                                            <span>{{ tools }}</span>
                                        </div>
                                    </div>

                                    <div class="column small-12 large-7 reference">
                                       <div class="ref-cont">
                                           <div class="link"></div>
                                           <a ng-repeat="ref in style.table2" href="{{ ref.url }}">{{ ref.text }}</a>
                                       </div>
                                    </div>
                                    <div class="column small-12">
                                        <hr/>
                                        <div ng-repeat="tags in style.tags" class="tags">
                                            <div class="tag"></div>
                                            <span>{{ tags }}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="separator"></div>

                    <div class="row gallery">
                        <div ng-repeat="picture in style.pictures" class="column small-12 large-4">
<!--                            <img src="{{ picture.thumb }}">-->
                            <a href="{{ picture.big }}" data-lightbox="{{ picture.id }}"><img src="{{ picture.thumb }}"></a>

                        </div>
                    </div>

                        <button class="close-button animated" data-close aria-label="Close reveal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="row">
                        <div class="medium-12 column block align-midle writer-cont">
                            <h1>Hi, i'm </h1><h1 class="writer"></h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="column">
                           <div class="title-cont">
                               <p>Selected Work</p>
                           </div>
                        </div>
                    </div>

                    <div class="row align-spaced folio">
                        <!--  BUILD  -->
                        <div ng-repeat="div in obj" class="small-12 medium-6 large-3 column thumb-cont">
                            <div class="ih-item square effect8 scale_down">
                                <a href="#">
                                    <div ng-click="pop(div)" class="img thumb">
                                        <img src="{{div.thumb}}" alt="img">
                                    </div>

                                    <div class="mask1"></div>
                                    <div class="mask2"></div>

                                    <div ng-click="pop(div)" class="info">
                                        <h3>{{div.head}}</h3>
                                        <div class="title">
                                            <div class="icon-eye"></div>
                                            <span data-toggle="popWindow" class="desc">View project</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <footer class="footer">
<!--                   <span>&copy all right reserved - www.raphaelvareilles.fr - Proudly runs on Foundation 6 And Angular 1</span>-->

                    <div class="row">
                        <div class="brand-cont">
                            <i class="angular"></i>
                            <span>AngularJS</span>
                        </div>

                        <div class="brand-cont">
                            <i class="yeti"></i>
                            <span>Foundation 6</span>
                        </div>
                    </div>

                </footer>

            </div>
        </div>
        <!--  SCRIPTS  -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/what-input/dist/what-input.js"></script>
        <script src="bower_components/foundation-sites/dist/js/foundation.js"></script>
        <script src="js/sidebar.js"></script>
        <script src="js/particles.min.js"></script>
        <script src="js/typewriter.js"></script>
        <script src="js/app.js"></script>
       <!-- Lihghtbox plugin -->
        <script src="js/lightbox.min.js"></script>

    </body>
</html>
